@model RegistrationRequestDto

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}
<section>
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-12 p-0">
                <div class="login-card">
                    <form method="post" class="theme-form login-form">
                        <h4>Create your account</h4>
                        <h6>Enter your personal details to create account</h6>
                        <div class="form-group">
                            <label>Your Name</label>
                            <div class="small-group">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="icon-user"></i></span>
                                    <input asp-for ="Name" class="form-control" type="text" required="" placeholder="Name">                                    
                                </div>                                
                            </div>
                            <div><span asp-validation-for="Name" class="text-danger" /></div>
                        </div>
                        <div class="form-group">
                            <label>Email Address</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="icon-email"></i></span>
                                <input asp-for="Email" class="form-control" type="email" required="" placeholder="Test@gmail.com">                                
                            </div>
                            <div><span asp-validation-for="Email" class="text-danger" /></div>
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="icon-mobile"></i></span>
                                <input asp-for="PhoneNumber" class="form-control" type="" required="" placeholder="Phone Number">                                
                            </div>
                            <div><span asp-validation-for="PhoneNumber" class="text-danger" /></div>
                        </div>
                        @if (ViewBag.IsInDevelopmentMode)
                        {
                            <div class="form-group">
                                <label>Role</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="icon-user"></i></span>
                                    <select asp-for="Role" class="form-select" asp-items="@ViewBag.RoleList">
                                        <option disabled selected>--Select Role--</option>
                                    </select>
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <label>Password</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="icon-lock"></i></span>
                                <input asp-for="Password" class="form-control" type="password" required="" placeholder="Password...">                                
                                <div class="show-hide"><span class="show">                         </span></div>                                
                            </div>
                            <div><span asp-validation-for="Password" class="text-danger" /></div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <input id="checkbox1" type="checkbox">
                                <label class="text-muted" for="checkbox1">Agree with <span>Privacy Policy                   </span></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">Create Account</button>
                        </div>
                        <div class="login-social-title">
                            <h5>signup with</h5>
                        </div>
                        <div class="form-group">
                            <ul class="login-social">
                                <li><a href="https://www.linkedin.com/login" target="_blank"><i data-feather="linkedin"></i></a></li>
                                <li><a href="https://www.linkedin.com/login" target="_blank"><i data-feather="twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/login" target="_blank"><i data-feather="facebook"></i></a></li>
                                <li><a href="https://www.instagram.com/login" target="_blank"><i data-feather="instagram">                  </i></a></li>
                            </ul>
                        </div>
                        <p>Already have an account?<a class="ms-2" asp-controller="Auth" asp-action="Login">Sign in</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Script {
    <!-- Plugins JS start-->
    <partial name="_ValidationScriptsPartial" />
    <script src="~/assets/js/sweet-alert/sweetalert.min.js"></script>    
    <!-- Plugins JS Ends-->
}